* {
    box-sizing: border-box;
   
  }

.pondBox {
    background-image: url('../../../public/pond.png');
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box ;
    
    position: relative;
    z-index: auto;

}
.fern1 {
    position: absolute;
    background-image: url('../../../public/Fern.png');
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    z-index: 2;
    height: 50%;
    width: 50%;
    opacity: .5;
}
.col {
    border: 2px solid black;
    box-sizing: border-box;
}

@media screen and(max-width:576) {
    

    }


    
